*
{
	font-family: Helvetica;
}

/**************************    Navigation  ***************************/



.head11
{
	position: sticky;
	top: 0;
	background-color: #00B74A;
	z-index: 1;
}

#navigation
{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left:  15%;

}

#navigation ul li a
{
	text-decoration: none;
}
	nav ul
		{
			list-style: none;
			position: relative;
			margin: 0;
			padding: 0;

		}
		
		nav ul li
		{
			float:center ;
			display: inline-block;
			margin: 0 1px;
			text-decoration: none;
			color:black;  
			margin-right: 90px; 
			color: white;        
		}
		nav ul li a
		{
			
			text-decoration: none;
			line-height: 60px;
			font-size: 16px;
			padding: 0px 15px;

		}
		nav ul li:hover
		{
			color:red;
		}

        
        
/*************************** Navigation End  *************************/



.text
{
		padding-top: 40px;
		text-align: justify;
	    text-justify: inter-word;
	    
}
.heading
{
	text-align: justify;
  text-justify: inter-word;
  margin-top: 35px;
  
}
.img
{
	margin-top: 20px;
}


@media screen and (max-width: 650px) 
{

}














